/***** universal *****/
*,body,html{line-height:normal;margin:0;padding:0;font-family:Arial,sans-serif;font-size:14px}
*,*:before,*:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}
body,html{background:#f1f1f1}
html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a,em,h1,h2,h3,h4,h5,h6,img,li,p,strong,table,tbody,td,tfoot,th,thead,tr,ul{margin:0;padding:0;border:none;font-weight:400;font-style:normal;font-size:100%;font-family:inherit}
li,ol,ul{list-style:none}.clearfix:after{content:" ";display:block;clear:both;line-height:0;height:0}
html[xmlns] .clearfix{display:block}
*html .clearfix{height:1%}
.CL{clear:both}
a{text-decoration:none;outline:0}
table{width:100%;border:0}

/***** sprite *****/
.m_sprite{background-image:url("../images/sprite-v01.svg");background-repeat:no-repeat}
.m_sprite.thumb_nav{background-position:12px 12px;background-size:25px auto;width:50px;height:40px}

.dh_logo{background:url("../images/dailyhunt.svg") no-repeat center center;background-size:100% auto;width:85px;height:22px;margin-top:1px}

/***** common *****/
.ripple{position:relative;overflow:hidden;transform:translate3d(0,0,0)}.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#000 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s}.ripple:active:after{transform:scale(0,0);opacity:.2;transition:0s}

/***** clear ele *****/
header .siteNav .LHS:after,header nav:after{content:" ";display:block;clear:both;line-height:0;height:0}

/***** header *****/
header{background:#f2f2f2}
header .siteNav .LHS li{float:left}
header .siteNav .LHS li:first-child{margin-left:0}
header .siteNav .LHS li .dh_logo{margin-top:11px}
header .siteNav .LHS li a{display:block}
header nav{padding:5px}
header nav ul.lhs{float:left;width:calc(100% - 50px);padding-left:10px}
header nav ul.lhs li{display:inline-block;width:32%;}
header nav ul.lhs li a{display:block;padding:10px 0;color:#2e2e2e;text-align:center;text-transform:capitalize}
header nav ul.lhs li a.active{color:#BF3D31;border-bottom:2px solid #BF3D31}
header nav .rhs{float:right}
header nav .rhs .btnMore{width:40px;height:40px;background:url("../images/dot_menu.svg") center no-repeat;background-size:auto 15px;display:inline-block}

/****** after scroll header *****/
#header-scl{position:fixed;z-index:9;width:100%;background:#fff;top:0;left:0;box-shadow:0 1px 2px 0 rgba(0,0,0,0.18)}

/***** list item *****/
.dh-list-item li{margin:5px;padding:20px 10px;background:#fff}
.dh-list-item li picture{width:80px;height:80px;vertical-align:middle;display:table-cell}
.dh-list-item li picture source, .dh-list-item li picture img{height:100%;width:100%}
.dh-list-item li .list-content{display:table-cell;padding-left:10px}
.dh-list-item li .list-content h2{color:#010101;height:60px;max-height:60px;overflow:hidden;line-height:1.4em;margin-bottom:10px}
.dh-list-item li .list-content .srcInfo span, .dh-list-item .list-content .srcInfo em{font-size:10px;color:#999;display:inline-block;float:left;margin-right:5px}

/***** list item *****/
.topic-list-item li{margin:5px;background:#fff}
.topic-list-item li a{display:block;padding:10px}
.topic-list-item li a h3{color:#010101;padding-bottom:10px}
.topic-list-item li a picture source,.topic-list-item li a picture img{width:100%; height:auto;}

.featured-item-list{margin:5px;background:#fff}
.featured-item-list h2{color:#010101;padding:10px;}
.featured-item-list ul li a{display:block;padding:15px 10px;color:#808080;border-bottom:1px solid #eaeaea}

.dataWarp{position:absolute;top:96px;display:none;left:0;width:100%;height:100%}
.dataWarp.active{position:static;display:block;height:auto}
